<div class="container col-mid-10">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>
          Question:
        </th>
        <th>
          Asked By:
        </th>
      </tr>
    </thead>
    <tbody>
    {{#each model as |question|}}
        <tr>
          <td>
            {{question.title}}
          </td>
          <td>
            {{question.user}}
          </td>
        </tr>
    {{/each}}
    </tbody>
  </table>
</div>
